<md-dialog style="width:60%;height:80%;"  ng-cloak >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crear nuevo  {{origenDestinoTitulo}} </h2>
        <span flex></span>
       
      </div>
    </md-toolbar>
    <md-dialog-content  >
      <md-content layout-padding >
            <!-- campo de cliente -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cliente*</label>
              <input   ng-disabled="true"  style="color:black;" ng-model="jsonFacturacion.nombreCliente" >
            </md-input-container>
             <!-- campo de segementos -->
           <!-- <md-input-container class="md-block" flex-gt-sm>
              <label>Segmentos*</label>
              <input   ng-disabled="true"  style="color:black;" ng-model="jsonFacturacion.nombreSegmento" >
            </md-input-container>-->
             <!-- campo de destinatario -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Destinatario*</label>
              <input   ng-disabled="true"  style="color:black;" ng-model="jsonFacturacion.nombreDestinatario" >
            </md-input-container>
            <!-- lista de segmentos -->
          <!--  <md-input-container class="md-block" flex-gt-sm>
                        <label>Segmentos</label>
                           <md-select ng-disabled="true" ng-model="jsonDestinoOrigen.segmentoId"  ng-change="cargarDestinatario()">
                             <md-option ng-repeat="des in segmentosDestinoOrigen" 
                                value="{{des.id}}">
                              {{des.nombre}}
                            </md-option>                              
                          </md-select>                      
            </md-input-container>-->
            
            <!--  autocompletar de  productos -->                      
             <!-- <md-autocomplete style="width: 100%"
                  md-selected-item="prodCli.selectedItem"
                  md-search-text="prodCli.searchText.nombre"
                  md-items="prodCli in  destinatarioOrigen | filter:prodCli.searchText.nombre"  md-item-text="prodCli.nombreComercial"                         
                  placeholder="Seleccione destinatario..."                          
                  md-selected-item-change="setDestinatario(prodCli.id)"
                   md-min-length="0"                    
                 >
              <md-item-template>
                <span
                    md-highlight-text="prodCli.searchText.nombreComercial"
                    md-highlight-flags="i">
                      {{prodCli.id}},  {{prodCli.nombreComercial}}                       
                </span>
              </md-item-template>
            </md-autocomplete>-->

            <!-- campo de codigo -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Codigo</label>
              <input   ng-model="jsonDestinoOrigen.codigo" >
            </md-input-container>
            <!-- campo de nombre -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre</label>
              <input   ng-model="jsonDestinoOrigen.nombre" >
            </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
              <label>ciudad</label>
               <!--  autocompletar de ciudad -->                      
              <md-autocomplete style="width: 100%"
                  md-selected-item="ciudad.selectedItem"
                  md-search-text="ciudad.searchText.nombre"
                  md-items="ciudad in  ciudades | filter:ciudad.searchText.nombre" 
                  md-item-text="ciudad.nombre"                         
                  placeholder="Seleccione ciudad..."                          
                  md-selected-item-change="setCiudad(ciudad.id)"      
                   md-min-length="0"              
                 >
              <md-item-template>
                <span
                    md-highlight-text="ciudad.searchText.nombre"
                    md-highlight-flags="i">
                      {{ciudad.nombre}}                       
                </span>
              </md-item-template>2
            </md-autocomplete>
            </md-input-container>
            
           
            <br>
            <!-- campo de direccion -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Direccion</label>
              <input   ng-model="jsonDestinoOrigen.direccion" >
            </md-input-container>

            <!-- campo de indicaciones -->
            <md-input-container class="md-block" flex-gt-sm>
              <label>Indicaciones</label>
              <input   ng-model="jsonDestinoOrigen.indicaciones" >
            </md-input-container>
            <fieldset class="standard" >
              <legend>Datos de contacto</legend>
              
              <!-- campo de Nombres -->
              <md-input-container class="md-block" flex-gt-sm>
                <label>Nombres</label>
                <input   ng-model="jsonDestinoOrigen.nombres" >
              </md-input-container>

                <!-- campo de email -->
              <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input   ng-model="jsonDestinoOrigen.email" >
              </md-input-container>

               <!-- campo de  telefono -->
              <md-input-container class="md-block" flex-gt-sm>
                <label>Telefono</label>
                <input   ng-model="jsonDestinoOrigen.telefono" >
              </md-input-container>
            </fieldset>


      </md-content>                       
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <h5  ng-show="faltanDatosShip" style="color: red">El campo '{{campoValidacionDestinoShip}}' es requerido.</h5> 
      <span flex></span>
      <md-button ng-click="cerrarModal()">
       Cancelar
      </md-button>
      <md-button ng-click="validarCreacion()" style="margin-right:20px;">
       Agregar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>